body {
    background: rgb(119, 51, 104);
    color: rgb(45, 45, 45);
    padding: 100px;
    font-family: DejaVu Sans Mono, monospace
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(99, 99, 99);
   margin: 0 auto;
    display: flex;
    padding: 25px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgb(255, 191, 252);
    display: flex;
}
.sidebar {
    margin-right: 100px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 100px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(190, 134, 134) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }